.header {
    display: flex;
    margin: 0 0 93px;
    padding: 0 40px;
    height: 60px;
    align-items: center;
}

.header:after {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    content: '';
}

.header__menu {
}

.header__logo {
    margin: 0 53px 0 0;
}

.header__rates {
    width: 415px;
}

.header__auth-form {
    flex-grow: 1;
    overflow: hidden;
}

.header__auth-form .auth-form {
    float: right;
}
