.header {
    margin: 0 0 93px;
    height: 60px;
}

.header:after {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    content: '';
}

.header__inner {
    display: flex;
    padding: 0 40px;
    height: 100%;
    align-items: center;
}

.header__menu {
    position: absolute;
    top: 20px;
    left: 22px;
    display: none;
}

.header__logo {
    margin: 0 53px 0 0;
}

.header__rates {
    width: 415px;
}

.header__auth-form {
    overflow: hidden;
    flex-grow: 1;
}

.header__auth-form .auth-form {
    float: right;
}

@media all and (max-width: 1366px) {
    .header {
        display: block;
        margin-bottom: 38px;
        padding: 0 0 50px;
    }

    .header__inner {
        position: relative;
        padding: 0;
        height: 100%;
    }

    .header__menu {
        display: block;
    }

    .header__logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    .header .header__rates {
        position: absolute;
        top: 100%;
        margin: 18px 0 0;
        width: 100%;
        font-size: 12px;
    }

    .header__auth-form {
        display: none;
    }

    .intro__header {
        font-size: 36px;
        line-height: 46px;
    }
}
