.page
{
    font-family: 'Open Sans';
    line-height: normal;

    min-width: 1000px;

    transition: all 0.3s ease-out;
}

.page__width
{
    min-width: 1000px;
    max-width: 1366px;
    margin: auto;
}

@media all and (max-width: 1000px)
{
    .page
    {
        min-width: 375px;
    }

    .page__width
    {
        width: 375px;
        min-width: 0;
        max-width: none;
    }
}

@media all and (min-width: 1650px)
{
    html
    {
        overflow-x: hidden;
    }

    .page
    {
        transform: scale(1.2);
        transform-origin: 50% 0;
    }
}
