

.main-menu_opened .main-menu__body
{
    right: auto;
    left: 0;
}

.main-menu__body
{
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: -238px;

    width: 238px;

    transition: all 0.3s ease-out;

    background-image: linear-gradient(to left, #3f4860, #242c42);
}

.main-menu__toggle
{
    width: 28px;
    height: 21px;

    cursor: pointer;

    background: url(main-menu__toggle.png) 50% 50% no-repeat;
}

.main-menu__close
{
    position: absolute;
    top: 0;
    left: 100%;

    display: none;

    width: 72px;
    height: 72px;

    cursor: pointer;

    background: url(main-menu__close.png) 50% 50% no-repeat;
}

.main-menu_opened .main-menu__close
{
    display: block;
}

.main-menu__content
{
    position: absolute;
    top: 140px;
    right: 34px;
    left: 34px;
}

.main-menu__item
{
    font-size: 16px;

    display: block;

    color: #b4b9c6;
}

.main-menu__item + .main-menu__item
{
    margin-top: 43px;
}
