.icon_type_commissions {
    background-image: url(icon_type_commissions.svg);
}

.icon_type_interface {
    background-image: url(icon_type_interface.svg);
}

.icon_type_licence {
    background-image: url(icon_type_licence.svg);
}

.icon_type_phone {
    width: 23px;
    height: 36px;
    background-image: url(icon_type_phone.svg);
}

.icon_type_security {
    width: 23px;
    height: 32px;
    background-image: url(icon_type_security.svg);
}

.icon_type_wallet {
    width: 31px;
    height: 26px;
    background-image: url(icon_type_wallet.svg);
}

.icon_payment_adv-cash {
    width: 121px;
    height: 34px;
    background-image: url(icon_payment_adv-cash.png);
}

.icon_payment_master-card {
    width: 65px;
    height: 39px;
    background-image: url(icon_payment_master-card.png);
}

.icon_payment_ok-pay {
    width: 113px;
    height: 37px;
    background-image: url(icon_payment_ok-pay.png);
}

.icon_payment_payeer {
    width: 94px;
    height: 32px;
    background-image: url(icon_payment_payeer.png);
}

.icon_payment_perfect-money {
    width: 114px;
    height: 34px;
    background-image: url(icon_payment_perfect-money.png);
}

.icon_payment_visa {
    width: 75px;
    height: 24px;
    background-image: url(icon_payment_visa.png);
}

.icon_payment_web-money {
    width: 121px;
    height: 32px;
    background-image: url(icon_payment_web-money.png);
}

.icon_payment_wire-transfer {
    width: 86px;
    height: 44px;
    background-image: url(icon_payment_wire-transfer.png);
}

.icon_store_app-store {
    width: 146px;
    height: 43px;
    background-image: url(icon_store_app-store.png);
}

.icon_store_google-play {
    width: 144px;
    height: 43px;
    background-image: url(icon_store_google-play.png);
}
