.section_theme_rates {
    padding: 90px 0 130px;
    background-image: radial-gradient(circle at 50% 52%, #263049, #161a26);
}

.section_theme_rates .section__inner {
    padding: 0 10% 0;
    transition: all .3s ease-out;
}

.section_theme_rates .tabs {
    margin: 0 0 50px;
}

.section_theme_rates .section__tables {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
}

.section_theme_rates .order-table {
    margin: 15px;
    height: 405px;
    flex-grow: 1;
}

@media all and (max-width: 1000px) {
    .section_theme_rates {
        padding: 37px 0 57px;
    }

    .section_theme_rates .section__inner {
        padding: 0;
    }

    .section_theme_rates .section__tables {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section_theme_rates .order-table {
        width: 100%;
        height: 485px;
    }
}
