.section_theme_intro
{
    padding: 0 0 115px;

    background: url(section_theme_intro.png) 50% 0 no-repeat, radial-gradient(circle at 50% 52%, #2b437a, #24315c);
}

@media all and (max-width: 1000px)
{
    .section_theme_intro
    {
        background: url(section_theme_intro.png) 50% 300px no-repeat, radial-gradient(circle at 50% 52%, #2b437a, #24315c);
    }

    .section_theme_intro .intro__buttons
    {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .section_theme_intro .intro__buttons .button + .button
    {
        margin: 27px 0 0;
    }

    .section_theme_intro .intro__about
    {
        flex-direction: column;
    }
}
