.section_theme_security
{
    position: relative;

    height: 445px;

    transition: all 0.3s ease-out;

    background: radial-gradient(circle at 50% 52%, #2b437a, #24315c);
}

.section_theme_security .section__inner
{
    height: 100%;
    padding: 0 10% 0 13%;

    transition: all 0.3s ease-out;
}

.section_theme_security .section__image
{
    position: absolute;
    right: 0;
    bottom: -92px;
    left: 50%;

    height: 476px;
    margin: 0 0 0 -17px;

    transition: all 0.3s ease-out;

    background: url(section_theme_security.png) 0 0 no-repeat;
}

.section_theme_security .section__info
{
    position: relative;
    top: 150px;

    width: 35%;

    transition: all 0.3s ease-out;

    color: #ebebee;
}

@media all and (max-width: 1000px)
{
    .section_theme_security
    {
        height: 475px;
    }

    .section_theme_security .section__inner
    {
        padding: 0 35px 0 64px;
    }

    .section_theme_security .section__image
    {
        top: auto;
        bottom: -48px;

        height: 314px;
        margin-left: -120px;

        background-size: auto 100%;
    }

    .section_theme_security .section__info
    {
        top: 36px;

        width: 275px;
    }

    .section_theme_security .section__header
    {
        font-size: 30px;
    }
}
