.section_theme_footer
{
    height: 502px;

    transition: all 0.3s ease-out;

    background: rgba(17, 117, 194, 0.82) url(section_theme_footer.png) 50% 0 no-repeat;
}

.section_theme_footer .section__inner
{
    position: relative;

    height: 100%;
}

.section_theme_footer .section__image
{
    position: absolute;
    bottom: 0;

    transition: all 0.3s ease-out;
}

.section_theme_footer .section__image_iphone
{
    left: 31%;

    width: 318px;
    height: 441px;

    background: url(section_device_iphone.png) 0 0 no-repeat;
}

.section_theme_footer .section__image_nexus
{
    left: 9%;

    width: 327px;
    height: 446px;

    background: url(section_device_nexus.png) 0 0 no-repeat;
}

.section_theme_footer .section__info
{
    position: absolute;
    top: 170px;
    left: 63%;

    display: flex;

    width: 305px;

    transition: all 0.3s ease-out;

    flex-wrap: wrap;
    justify-content: space-between;
}

.section_theme_footer .section__header
{
    width: 100%;
    margin-bottom: 35px;

    transition: all 0.3s ease-out;

    color: #ebebee;

    flex-grow: 1;
}

.section_theme_footer .section__description
{
    opacity: 1;

    flex-grow: 1;
}

.section_theme_footer .copyright
{
    font-size: 12px;
    font-weight: 600;
    line-height: normal;

    position: absolute;
    bottom: 31px;
    left: 40px;

    color: rgba(235, 235, 238, 0.4);
}

.section_theme_footer .copyright
{
    font-size: 12px;
    font-weight: 600;

    color: rgba(235, 235, 238, 0.4);
}

@media all and (max-width: 1150px)
{
    .section_theme_footer .section__image_iphone
    {
        left: 25%;
    }
}

@media all and (max-width: 1000px)
{
    .section_theme_footer
    {
        height: 547px;
    }

    .section_theme_footer .section__image_iphone
    {
        left: 113px;

        width: 250px;
        height: 346px;

        background-size: auto 100%;
    }

    .section_theme_footer .section__image_nexus
    {
        left: -15px;

        width: 245px;
        height: 334px;

        background-size: auto 100%;
    }

    .section_theme_footer .section__info
    {
        top: 70px;
        right: 33px;
        left: 33px;

        width: auto;
    }

    .section_theme_footer .section__header
    {
        margin-left: 40px;
    }
}
