.section_theme_security {
    height: 445px;
    background: radial-gradient(circle at 50% 52%, #2b437a, #24315c);
    transition: all .3s ease-out;
}

.section_theme_security .section__inner {
    position: relative;
    padding: 0 136px 0 179px;
    height: 100%;
    transition: all .3s ease-out;
}

.section_theme_security .section__image {
    position: absolute;
    top: -80px;
    right: -60px;
    width: 660px;
    height: 476px;
    background: url(section_theme_security.png) 0 0 no-repeat;
    transition: all .3s ease-out;
}

.section_theme_security .section__info {
    position: relative;
    top: 150px;
    width: 371px;
    color: #ebebee;
    transition: all .3s ease-out;
}

@media all and (max-width: 1366px) {
    .section_theme_security {
        height: 475px;
    }

    .section_theme_security .section__inner {
        padding: 0 35px 0 64px;
    }

    .section_theme_security .section__image {
        top: auto;
        bottom: -52px;
        left: 122px;
        width: 442px;
        height: 320px;
        background-size: 100% auto;
    }

    .section_theme_security .section__info {
        top: 36px;
        width: 275px;
    }
}
