.section_theme_intro
{
    padding: 153px 0 115px;

    transition: all 0.3s ease-out;

    background: url(section_theme_intro.png) 50% 0 no-repeat, radial-gradient(circle at 50% 52%, #2b437a, #24315c);
}

.section_theme_intro .section__inner
{
    padding-right: 10%;
    padding-left: 10%;
}

@media all and (max-width: 1000px)
{
    .section_theme_intro
    {
        padding-bottom: 60px;

        background: url(section_theme_intro.png) 50% 300px no-repeat, radial-gradient(circle at 50% 52%, #2b437a, #24315c);
    }

    .section_theme_intro .section__inner
    {
        padding-right: 10px;
        padding-left: 10px;
    }
}
