.rates {
    display: flex;
    color: #ebebee;
    font-size: 14px;
    justify-content: space-between;
}

.rates__value {
    font-weight: bold;
}

.rates__name {
    font-size: 0.85em;
    opacity: 0.6;
}
