.order-table {
    overflow: hidden;
}

.order-table__inner {
    position: relative;
    padding-top: 37px;
    width: 100%;
}

.order-table__table {
    border-collapse: collapse;
    background-color: #464f67;
    background-image: linear-gradient(to left, #464f67, #242c42);
}

.order-table__caption {
    color: #ebebee;
    font-size: 18px;
    line-height: 1.1;
}

.order-table__table td, .order-table__table th {
    padding: 8px 20px;
    color: #b4b9c6;
    text-align: left;
    font-size: 0.6875em;
    line-height: 1.3;
}

.order-table__table td {
    background-color: #222634;
}

.order-table__table tr:nth-child(odd) td {
    background-color: #111622;
}

.order-table__table .aright {
    text-align: right;
}

.order-table__table .sell {
    color: #ef3c37;
}

.order-table__table .buy {
    color: #37cf4f;
}





.scroll-table .container {
    overflow-y: auto;
    height: 360px;
}

.scroll-table .table {
    margin-top: 0 !important;
    width: 100%;
    border-spacing: 0;
}

.scroll-table .table th {
    padding: 0 !important;
}

.scroll-table .table td, .scroll-table .table th {
    padding: 10px 25px;
}

.scroll-table .table th {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    border: none;
    color: transparent;
    white-space: nowrap;
    line-height: 0;
}

.scroll-table .table th div {
    position: absolute;
    top: 0;
    margin-left: -15px;
    padding: 9px 25px;
    background: transparent;
    color: #fff;
    color: #b4b9c6;
    line-height: normal;
}

.scroll-table .table th:first-child div {
    border: none;
}
